@import '../../../assets/styles/utils/utils';

.laws {
  &-tags {
    @include adaptiv-value('margin-top', 30, 20);
  }

  &-list {
    @include adaptiv-value('margin-top', 10, 5);
  }

  &-pagination {
    @include adaptiv-value('margin-top', 80, 40);
    @include adaptiv-value('margin-right', 40, 0);
    display: flex;
    justify-content: flex-end;

    @media (max-width: 768px) {
      justify-content: center;
      margin-right: 0;
    }
  }
}