@import '../../../../assets/styles/utils/utils';

.show-more-btn {
  display: flex;
  align-items: center;
  @include adaptiv-font(18, 14);
  @include adaptiv-value('padding-top', 8, 8);
  @include adaptiv-value('padding-right', 16, 12);
  @include adaptiv-value('padding-bottom', 8, 8);
  @include adaptiv-value('padding-left', 16, 12);
  border-radius: 5px;
  @include transition();

  &::before {
    content: '+';
    margin-right: 8px;
    line-height: 1;
    @include adaptiv-font(18, 14);
    font-weight: 500;
  }

  &:hover {
    background: #5683c7;
  }
}